.infoBoks li {
    list-style: none;
}

.infoBoks {
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}

.infoBoks ul {
    margin: 0;
}

.infoBoks li {
    font-size: 20px;
    margin-top: 50px;
}

.infoBoks p {
    font-size: 15px;
}

.logo {
    width: 15%;
}

.logo img {
    width: 100%;
}

.fa-brands {
    scale: 2;
    margin-top: 20px;
    margin-left: 53px;
}