.infoBoks li {
    list-style: none;
}

.infoBoks {
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}

.infoBoks ul {
    margin: 0;
}

.infoBoks li {
    font-size: 20px;
    margin-top: 50px;
}

.infoBoks p {
    font-size: 15px;
}

.logo {
    width: 15%;
}

.logo img {
    width: 100%;
}

.fa-brands {
    scale: 2;
    margin-top: 20px;
    margin-left: 53px;
}


.off-screen-meny {
    background-color: rgb(34, 37, 49);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 2rem;
    transform: translateY(-120%);
    transition: .3s ease;
}

.off-screen-meny.active {
    transform: translateY(0);
}

nav {
    padding: 1rem;
    display: flex;
    width: fit-content;

}

.ham-meny {
    left: 1180px;
    top: 20px;
    height: 50px;
    width: 50px;
    position: fixed;
}

.ham-meny span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-meny span:nth-child(1) {
    top: 25%;
}

.ham-meny span:nth-child(3) {
    top: 75%;
}

.ham-meny.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-meny.active span:nth-child(2) {
    opacity: 0;
}

.ham-meny.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-meny ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.off-screen-meny a {
    color: white;
    text-decoration: none;
}

.off-screen-meny li {
    list-style: none;
    scale: 1;
    transition: .3s;
    margin-bottom: 10px;
}

.off-screen-meny li:hover {
    scale: 1.3;
}