body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  min-height: 1200vh;
}

h1 {
  margin-top: 20px;
  margin-left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 76px;
  color: white;
  display: inline-block;
  border-bottom: 3px solid #f7f7f7;
  padding-bottom: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-top: -75px;
  margin-left: 50px;
}

.off-screen-meny {
  background-color: rgb(34, 37, 49);
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 2rem;
  transform: translateY(-120%);
  transition: .3s ease;
}

.off-screen-meny.active {
  transform: translateY(0);
}

nav {
  padding: 1rem;
  display: flex;
  width: fit-content;
}

.ham-meny {
  left: 1180px;
  top: 20px;
  height: 50px;
  width: 50px;
  position: fixed;
}

.ham-meny span {
  height: 5px;
  width: 100%;
  background-color: #6F86FF;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.ham-meny span:nth-child(1) {
  top: 25%;
}

.ham-meny span:nth-child(3) {
  top: 75%;
}

.ham-meny.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-meny.active span:nth-child(2) {
  opacity: 0;
}

.ham-meny.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-meny ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.off-screen-meny a {
  color: white;
  text-decoration: none;
}

.off-screen-meny li {
  list-style: none;
  scale: 1;
  transition: .3s;
  margin-bottom: 10px;
}

.off-screen-meny li:hover {
  scale: 1.3;
}

html, body {
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 35%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 35%);
}


.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
}

nav,
.off-screen-meny {
  position: absolute;
  z-index: 10;
}

.content {
  padding: 2rem;
}

.hund-image img {
  position: fixed;
}

.text2 {
  color: black;
  font-size: 50px;
  margin: 2rem;
  margin-top: 0px;
  margin-left: 450px;
}

.text3 {
  color: black;
  font-size: 30px;
  margin: 2rem;
  margin-top: -20px;
  margin-left: 470px;
}

.image2,
.image3,
.image4 {
  width: 350px;
  height: 450px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 60px;
  vertical-align: top;
}

.text10 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 40px;
  margin-left: 100px;
  font-family: monospace;
}

.text11 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 180px;
  font-family: monospace;
}

.text12 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 100px;
  font-family: monospace;
}

.gurt {
  margin-top: 50px;
  text-align: center;
}

.text13 {
  color: black;
  font-size: 25px;
  margin: 0;
  margin-top: 50px;
  margin-left: 278px;
  font-family: monospace;
}

.text14 {
  color: black;
  font-size: 70px;
  margin: 0;
  margin-top: 10px;
  margin-left: 220px;
  font-family: monospace;
}


.text15 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 370px;
  font-family: monospace;
}


.image9,
.image10{
  width: 400px;
  height: 500px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 150px;
  vertical-align: top;
}

.gaut-image {
  width: 980px;
  height: 700px;
  display: inline-block;
  margin-top: 150px;
  margin-left: 130px;
  vertical-align: top;
}

.text20 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 150px;
  font-family: monospace;
}

.text21 {
  color: black;
  font-size: 21px;
  margin: 0;
  margin-top: 25px;
  margin-left: 370px;
  font-family: monospace;
}

.image11{
  width: 600px;
  height: 500px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 300px;
  vertical-align: top;
}

.text22 {
  color: black;
  font-size: 90px;
  margin: 0;
  margin-top: 25px;
  margin-left: 300px;
  font-family: monospace;
}

.text30 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 450px;
  font-family: monospace;
}

.image30{
  width: 600px;
  height: 500px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 300px;
  vertical-align: top;
}

.finalsoon {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 100px;
  margin-left: 1000px;
  font-family: monospace;
}

.finalsoon1 {
  color: black;
  font-size: 15px;
  margin: 0;
  margin-top: 0px;
  margin-left: 1000px;
  font-family: monospace;
}

.finalsoon2 {
  color: black;
  font-size: 15px;
  margin: 0;
  margin-bottom: 100px;
  margin-left: 1000px;
  font-family: monospace;
}

.finalsoon3 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-bottom: 100px;
  margin-left: 1000px;
  font-family: monospace;
}

.face {

  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 100px;
}

.insta {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 50px;
}
