body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  min-height: 1000vh;
}

h1 {
  margin-top: 20px;
  margin-left: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 76px;
  color: white;
  display: inline-block;
  border-bottom: 3px solid #f7f7f7;
  padding-bottom: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-top: -75px;
  margin-left: 50px;
}



html, body {
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
}

nav,
.off-screen-meny {
  position: absolute;
  z-index: 10;
}

.content {
  padding: 2rem;
}

.hund-image img {
  position: fixed;
}

.text2 {
  color: black;
  font-size: 50px;
  margin: 2rem;
  margin-top: 0px;
  margin-left: 450px;
}

.text3 {
  color: black;
  font-size: 30px;
  margin: 2rem;
  margin-top: -20px;
  margin-left: 470px;
}

.image2,
.image3,
.image4 {
  width: 350px;
  height: 450px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 60px;
  vertical-align: top;
}

.text10 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 40px;
  margin-left: 100px;
  font-family: monospace;
}

.text11 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 200px;
  font-family: monospace;
}

.text12 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 130px;
  font-family: monospace;
}

.gurt {
  margin-top: 50px;
  text-align: center;
}

.text13 {
  color: black;
  font-size: 25px;
  margin: 0;
  margin-top: 50px;
  margin-left: 278px;
  font-family: monospace;
}

.text14 {
  color: black;
  font-size: 70px;
  margin: 0;
  margin-top: 10px;
  margin-left: 320px;
  font-family: monospace;
}


.text15 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 370px;
  font-family: monospace;
}


.image9,
.image10{
  width: 400px;
  height: 500px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 150px;
  vertical-align: top;
}