body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  min-height: 1200vh;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  margin-top: 20px;
  margin-left: 0px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 76px;
  color: white;
  display: inline-block;
  border-bottom: 3px solid #f7f7f7;
  padding-bottom: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-top: -75px;
  margin-left: 50px;
  font-family: 'Times New Roman', Times, serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 35%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 35%);
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
}

nav,
.off-screen-meny {
  position: absolute;
  z-index: 10;
}

.content {
  padding: 2rem;
}

.hund-image img {
  position: fixed;
}

.text2 {
  color: black;
  font-size: 50px;
  margin: 2rem;
  margin-top: 0px;
  margin-left: 450px;
  font-family: 'Times New Roman', Times, serif;
}

.text3 {
  color: black;
  font-size: 30px;
  margin: 2rem;
  margin-top: -20px;
  margin-left: 470px;
  font-family: 'Times New Roman', Times, serif;
}

.image2,
.image3,
.image4 {
  width: 350px;
  height: 450px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 60px;
  vertical-align: top;
}

.text10 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 40px;
  margin-left: 100px;
  font-family: 'Times New Roman', Times, serif;
}

.text11 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 180px;
  font-family: 'Times New Roman', Times, serif;
}

.text12 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 100px;
  font-family: 'Times New Roman', Times, serif;
}

.gurt {
  margin-top: 50px;
  text-align: center;
}

.text13 {
  color: black;
  font-size: 25px;
  margin: 0;
  margin-top: 50px;
  margin-left: 278px;
  font-family: 'Times New Roman', Times, serif;
}

.text14 {
  color: black;
  font-size: 70px;
  margin: 0;
  margin-top: 10px;
  margin-left: 220px;
  font-family: 'Times New Roman', Times, serif;
}

.text15 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 370px;
  font-family: 'Times New Roman', Times, serif;
}

.image9,
.image10{
  width: 400px;
  height: 500px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 150px;
  vertical-align: top;
}

.gaut-image {
  width: 980px;
  height: 700px;
  display: inline-block;
  margin-top: 150px;
  margin-left: 130px;
  vertical-align: top;
}

.text20 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 150px;
  font-family: 'Times New Roman', Times, serif;
}

.text21 {
  color: black;
  font-size: 21px;
  margin: 0;
  margin-top: 25px;
  margin-left: 370px;
  font-family: 'Times New Roman', Times, serif;
}

.image11{
  width: 600px;
  height: 500px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 300px;
  vertical-align: top;
}

.text22 {
  color: black;
  font-size: 90px;
  margin: 0;
  margin-top: 25px;
  margin-left: 300px;
  font-family: 'Times New Roman', Times, serif;
}

.text30 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-left: 450px;
  font-family: 'Times New Roman', Times, serif;
}

.image30{
  width: 600px;
  height: 500px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 300px;
  vertical-align: top;
}

.finalsoon {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-top: 100px;
  margin-left: 1000px;
  font-family: 'Times New Roman', Times, serif;
}

.finalsoon1 {
  color: black;
  font-size: 15px;
  margin: 0;
  margin-top: 0px;
  margin-left: 1000px;
  font-family: 'Times New Roman', Times, serif;
}

.finalsoon2 {
  color: black;
  font-size: 15px;
  margin: 0;
  margin-bottom: 100px;
  margin-left: 1000px;
  font-family: 'Times New Roman', Times, serif;
}

.finalsoon3 {
  color: black;
  font-size: 20px;
  margin: 0;
  margin-bottom: 100px;
  margin-left: 400px;
  font-family: 'Times New Roman', Times, serif;
}

