body {
    height: 100%;
    margin: 0;
    background-color: rgb(82, 81, 81);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.off-screen-meny {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 10;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-meny.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(34, 37, 49);
}

.ham-meny {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-meny span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-meny span:nth-child(1) {
    top: 25%;
}

.ham-meny span:nth-child(3) {
    top: 75%;
}

.ham-meny.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-meny.active span:nth-child(2) {
    opacity: 0;
}

.ham-meny.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-meny ul {
    margin-top: -200px;
}

.off-screen-meny a {
    color: white;
    text-decoration: none;
}

.off-screen-meny li {
    list-style: none;
    scale: 1;
    transition: .3s;
    margin-bottom: 10px;
}

.off-screen-meny li:hover {
    scale: 1.3;
}

body .LoggInnPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
}

.box {
    border: 2px solid rgb(202, 201, 201);
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    padding-top: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 30px;
    width: 220px;
    margin: 150px auto;
}
.box h1 {
    text-align: center;
    color: rgb(81, 162, 192);
}

.inputGruppe input {
    width: 200px;
    height: 25px;
    justify-content: center;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 5px;
}

.profil {
    position: absolute;
    font-size: 15px;
    right: 48px;
    top: 105px;
    color: rgb(103, 103, 103);
    pointer-events: none;
}

.pass {
    position: absolute;
    right: 48px;
    top: 137px;
    color: rgb(103, 103, 103);
    pointer-events: none;
}

.inputGruppe {
    margin: 8px;
    margin-bottom: 0;
    text-align: center;
}

.loggInn {
    text-align: center;
}

.loggInn input {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    justify-content: center;
    border: 1px solid black;
}

.links {
    display: flex;
    margin-top: 5px;
    position: relative;
    justify-content: center;
}

.links a {
    text-decoration: none;
}

.RememberGlemt {
    margin-left: 13px;
    display: flex;
    font-size: 12px;
    gap: 27px;
    color: rgb(255, 255, 255);
}

.RememberGlemt a {
    text-decoration: none;
}

.checkbox-item {
    display: flex;
    justify-content: center;
}

.linje {
    display: block;
    border: 1px solid black;
    margin-top: 5px;
}

.home a{
    text-decoration: none;
    color: black;
    position: relative;
    left: 100px;
    top: 10px;
}

.infoBoks li {
    list-style: none;
}

.infoBoks {
    border: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}

.infoBoks ul {
    margin: 0;
}

.infoBoks li {
    font-size: 20px;
    margin-top: 50px;
}

.infoBoks p {
    font-size: 15px;
}

.logo {
    width: 15%;
}

.logo img {
    width: 100%;
}

.fa-brands {
    scale: 2;
    margin-top: 20px;
    margin-left: 53px;
}

