body {
    height: 100%;
    margin: 0;
    background-color: rgb(158, 158, 158);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body .LoggInnPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
}

.main {
    background-image: url(/IMG/IMG_9303.jpg);
    background-size: cover;
    width: 100%;
}

.box {
    border: 2px solid rgb(202, 201, 201);
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    padding-top: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 30px;
    width: 220px;
    margin: 150px auto;
}
.box h1 {
    text-align: center;
    color: rgb(81, 162, 192);
}

.inputGruppe input {
    width: 200px;
    height: 25px;
    justify-content: center;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 5px;
}

.profil {
    position: absolute;
    font-size: 15px;
    right: 48px;
    top: 105px;
    color: rgb(103, 103, 103);
    pointer-events: none;
}

.pass {
    position: absolute;
    right: 48px;
    top: 137px;
    color: rgb(103, 103, 103);
    pointer-events: none;
}

.inputGruppe {
    margin: 8px;
    margin-bottom: 0;
    text-align: center;
}

.loggInn {
    text-align: center;
}

.loggInn input {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    justify-content: center;
    border: 1px solid black;
}

.links {
    display: flex;
    margin-top: 5px;
    position: relative;
    justify-content: center;
}

.links a {
    text-decoration: none;
}

.RememberGlemt {
    margin-left: 13px;
    display: flex;
    font-size: 12px;
    gap: 27px;
    color: rgb(255, 255, 255);
}

.RememberGlemt a {
    text-decoration: none;
}

.checkbox-item {
    display: flex;
    justify-content: center;
}

.linje {
    display: block;
    border: 1px solid black;
    margin-top: 5px;
}

.home a{
    text-decoration: none;
    color: black;
    position: relative;
    left: 100px;
    top: 10px;
}


.velkommen {
    border: solid 2px rgb(128, 128, 128);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 600px;
    text-align: center;
    margin: 250px auto;
    margin-bottom: 100px;
}

.velkommen p {
    width: 50ch;
    margin: 20px auto;
    font-size: 20px;
    color: black;
}

.velkommen h1 {
    font-size: 40px;
    margin: 0 auto;
}

.links {
    margin-bottom: 80px;
    gap: 100px;
}

button {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    scale: 1;
    transition: .3s ease;
}

button a {
    color: black;
    font-size: 20px;
    padding: 20px;
    
}

button:hover {
    scale: 1.1;
}

button a:hover {
    color: #0000EE;
}


.kontakt {  
    width: 100%;
    
}

h1 {
    margin-top: 100px;
    margin-left: 100px;
    font-size: 80px;   
    font-style: italic;
    color: black;
}

.kontaktBoks {
    border: 2px solid rgb(161, 161, 161);
    padding-bottom: 50px;
    width: 500px;
    margin-left: 90px;
    border-radius: 15px;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin-left: 30px;
    color: black;
}

label {
    margin-top: 20px;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(202, 202, 202);
}

form button {
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

form button:hover {
    scale: 1;
}

.hvit {
    background-color: #adadad;
}

.åpningstider {
    color: black;
    margin-top: -100px;
    margin-left: 250px;
}

.åpningstider li {
    list-style: none;
    margin-bottom: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

.kontakt {
    display: flex;
}

.åpningstider h1 {
    margin: 0 0 80px 40px;
    font-size: 35px;
}

.sted {
    width: 100%;
}
.sted h1 {
    width: fit-content;
    margin: 100px auto;
}

.rad {
    justify-content: center;
    height: 100%;
    margin-bottom: 40px;
}

.kolonne {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.bilder img {
    height: 250px;
    margin: 0 50px 10px 50px;
    gap: 50px;
}

.kolonne:nth-child(2) {
    margin: 100px 5px;
    margin-bottom: 0;
}


.knapper {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.knapper button {
    margin: 0 190px 10px 100px;
    background-color: #24295d;
}

.kolonne:nth-child(2) .knapper button {
    margin: 0 120px 10px 40px;
}

.knapper button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


